
.BigNames .container-fluid {
    margin-top: 0;
}

.BigNames-list {
    display: grid;
    grid-template-columns: repeat(3, 26vw);
    float: none;
    margin-left: 2vw;
}

@media screen and (max-width: 1200px) {
    .BigNames-list {
       grid-template-columns: repeat(2, 40vw);
    }
    .BigNames span{
        text-decoration: underline  !important;
    }
    }

    @media screen and (max-width: 775px) {
        .BigNames-list {
           grid-template-columns: repeat(1, 500px);
        }
        .BigNames span{
            text-decoration: underline   !important;
        }
        }

.BigNames-link {
    color: #0072ff;
    padding-top: 10px;
    border: none;
    text-align: left;
    line-height: 1.5;
    background-color: #f6f6f6;
}

.Lock {
    width: 2%;
    margin-bottom: 5px;
    margin-left: 3px;
}


.BigNames p {
    transform: rotate(180deg);
      font-family: Arial, Helvetica, sans-serif;
      text-align: right;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal; 
      letter-spacing: .8px;
      color: #101010;
      writing-mode: vertical-lr;
      width: 15px;
      height: 80px;
      float: left;
      margin-top: 25px;
      margin-left: 0;
  }

.button {
    color: #0072ff;
    padding-top: 10px;
    border: none;
    text-align: left;
    background-color: #f6f6f6;
}

.BigNames span{
    text-decoration: underline   !important;
}

.BigNames .Text {
    color: #101010;
}