.BignNames {
    float: left;

}

.BigNames-link {
    color: #0072ff;
    padding-top: 10px;
    border: none;
    text-align: left;
    background-color: #f6f6f6;
}

.button {
    color: #0072ff;
    padding-top: 10px;
    border: none;
    text-align: left;
    background-color: #f6f6f6;
}

.BigNames span{
    text-decoration: underline #101010;
    
}

.BigNames .Text {
    color: #101010;
}