.Wrapper {
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
    margin: 0;
}

.Wrapped {
    display: grid;
    grid-template-columns: 3% 99% ;
    background-color: #f6f6f6;
}

.Wrapped div {
    padding: 0.5em;
}



.Wrapped .Nested {
   display: grid;
   padding-left: 15px;
}

.Wrapped .Nested .BigNames{
    display: grid;
    grid-column-gap: .5em;
    margin-right: 150px;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    
}

.Wrapped .Nested .About {
    padding-right: 150px;
    font-size: 18px;
    line-height: 1.2;
}

@media screen and (min-width: 701px) {
    .Wrapped .Nested .About {
        font-size: 40px;
        padding-right: 300px;
    }
    }



