.Hyatt {
    min-height: 810px;
    text-align: left;
    align-content: center;
    background-color: #191919;
    border: 5px solid #f7f7f7;
}

.Hyatt-exit {
  display: inline-block;
  float: right;
  color: #ffffff;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 20px;
  top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 4;
  }

  .Hyatt-title {
  padding: 20px;
  font-family: aktiv-grotesk;
  font-size: 5vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 10px
  }

  @media screen and (max-width: 700px){
    .Hyatt-title{
          font-size: 25pt !important;
        }
  }
 
  .Hyatt-img {
    display: grid;
    grid-template-columns: 50% 50%;
    height: inherit;
    margin-bottom: 30px;
    margin-left: 3vw;
    margin-right: 1vw;
  }

  .Hyatt1{
    margin-top: 30px;
    width: 90%;
  }

  .Hyatt2{
    margin-top: 30px;
    width: 90%;
  }