.UnderArmour {
    height: 100%;
    text-align: left;
    align-content: center;
    background-color: #191919;
    border: 5px solid #f7f7f7;
}

.Under-exit {
  display: inline-block;
  float: right;
  color: #ffffff;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 20px;
  }

  .Under-title {
  padding: 20px;
  font-family: aktiv-grotesk;
  font-size: 5.5vh;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  }

  .Carrousel {
      margin-left: 11%;
      margin-right: 10%;
      width: 80%;
      justify-content: center;
      align-content: center;
  }
 

  .UnderArmour-img {
    display: block;
    height: auto;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .prev {
    position: absolute;
    margin-left: -10vw;
  }

  .next {
    position: absolute;
    margin-right: -10vw;
  }
