.Wacom {
    min-height: 810px;
    text-align: left;
    align-content: center;
    background-color: #191919;
    border: 5px solid #f7f7f7;
}

.Wacom-exit {
  display: inline-block;
  float: right;
  color: #ffffff;
  cursor: pointer;
  padding: 20px;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 4;
  }

  .Wacom-title {
  padding: 20px;
  font-family: aktiv-grotesk;
  font-size: 4vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 70px
  }

  @media screen and (max-width: 700px){
    .Wacom-title{
          font-size: 25pt !important;
        }

    .Wacom1, .Wacom2 {
      width: 90% !important;
    }
      }
 

  .Wacom-img {
    display: block;
    height: 50%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .Wacom1 {
      display: block;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  .Wacom2 {
      display: block;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
  }