.OceansEdge {
    text-align: left;
    align-content: center;
    background-color: #191919;
    border: 5px solid #f7f7f7;
}

.OceansEdge-exit {
    display: inline-block;
    float: right;
    color: #ffffff;
    cursor: pointer;
    padding: 20px;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 99;
}

.OceansEdge-title { 
  padding: 20px;
  font-family: aktiv-grotesk;
  font-size: 4vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
}

@media screen and (max-width: 700px){
    .OceansEdge-title{
          font-size: 25pt !important;
        }
      }

.OceansEdge-imgOne{
    padding: 20px;
    display: inline-block;
    width: 100%;
    height: auto;
}

.OceansEdge-imgTwo {
    padding: 20px;
    display: inline-block;
    width: 100%;
    height: auto;
    
}

.OceansEdge-imgThree {
    padding: 20px;
    display: inline-block;
    width: 100%;
    height: auto;
    
}