.OCSP {
    text-align: left;
    align-content: center;
    background-color: #191919;
    border: 5px solid #f7f7f7;
}

.OCSP-exit {
    display: inline-block;
    float: right;
    color: #ffffff;
    cursor: pointer;
    padding: 20px;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
}

.OCSP-title { 
  padding: 20px;
  font-family: aktiv-grotesk;
  font-size: 5vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;

  letter-spacing: normal;
  color: #ffffff;
}

@media screen and (max-width: 700px){
    .OCSP-title{
          font-size: 30pt !important;
        }
      }

@media screen and (max-width: 500px)
{.OCSP-blurb {
    font-size: 12pt !important ;
}
}

.OCSP-blurb {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    font-family: aktiv-grotesk;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #ffffff;
  }

  .OCSP-link {
    display: block;
    margin-top: 50px;
    margin-bottom: 80px;
    font-family: aktiv-grotesk;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
  }

.OCSP-imgOne {
    padding: 20px;
    width: 100%;
    height: auto;
    margin: auto;
}

.OCSP-imgTwo {
    width: 44vw;
    margin-left: 30px;
    margin-top: 140px;
    float: left;
}

.OCSP-imgThree {
   padding-left: 60px;
   margin-top: 140px;
   margin-bottom: 30px;
   width: 40vw;

}

.OCSP-imgFour {
    display: block;
    height: auto;
    width: 70%;
    margin: auto;
}

.OCSP-imgFive {
   width: 45%;
   margin-top: 10vw;
   padding-left: 9vw;
   
}

.OCSP-imgSix {
    padding-top: 10vw;
    padding-right: 7vw;
    float: right;
    width: 50%;
}

.OCSP-imgSeven {
  margin-left: 5vw;
  margin-top: 5vw;
  width: 40%;
  float: left;
  margin-bottom: 1vw;
}

.OCSP-imgEight {
 width: 40%;
 float: right;  
 margin-right: 8.5vw;
 margin-top: 5vw;
 margin-bottom: 40px;
}

.OCSP-imgNine {
   width: 30%;
   margin-top: 5vw;
   margin-left: 10vw;
   margin-right: 3vw;
   float: left;
    margin-bottom: 30px;
}

.OCSP-imgTen {
   width: 40%;
   margin-left: 5vw;
   margin-top: 5vw;
    margin-bottom: 70px;
}

@media screen and (max-width: 700px)
{
.OCSP-imgOne {padding: none;
    float: none;
    display: inline-block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important; 
    margin-bottom: 5px !important;
        
}

.OCSP-imgTwo {padding: none;
    float: none;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    margin-bottom: 5px !important;
}

.OCSP-imgThree {padding: none;
    float: none;
    display: block !important;
    margin-left: auto !important;
    margin-right: 85px !important;
    width: 80% !important;
    margin-bottom: 5px !important;

}

.OCSP-imgFour {
  padding: none;
  float: none;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    margin-bottom: 5px !important;
      
}

.OCSP-imgFive {padding: none;
    float: none;
    display: block !important;
    margin-left: auto !important;
    margin-right: 45px !important;
    width: 90% !important;
    margin-bottom: 10px !important;
      
}

.OCSP-imgSix {
   padding: none;
   float: none;
    display: block !important;
    margin-left: 47px !important;
    margin-right: auto !important;
    width: 85% !important;
    margin-bottom: 10px !important;
}

.OCSP-imgSeven {
   padding: none;
   float: none;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
    margin-bottom: 10px !important;
}

.OCSP-imgEight {
   padding: none;
   float: none;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
    margin-bottom: 10px !important;
}

.OCSP-imgNine {
   padding: none;
   float: none;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
    margin-bottom: 10px !important;
}

.OCSP-imgTen {
   padding: none;
   float: none;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
    margin-bottom: 10px !important;
}
}