.Stationary {
    text-align: left;
    align-content: center;
    background-color: #191919;
    border: 5px solid #f7f7f7;
}

.Stationary-exit {
    display: inline-block;
    float: right;
    color: #ffffff;
    cursor: pointer;
    padding: 20px;
}

.Stationary-title { 
  padding: 20px;
  font-family: aktiv-grotesk;
  font-size: 5.5vh;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.63;
  letter-spacing: normal;
  color: #ffffff;
}

.Stationary-imgOne{
    padding: 20px;
    display: inline-block;
    width: 100%;
    height: auto;
}

.Stationary-imgTwo {
    padding: 20px;
    display: inline-block;
    width: 100%;
    height: auto;
    
}

.Stationary-imgThree {
    padding: 20px;
    display: inline-block;
    width: 100%;
    height: auto;
    
}

.Stationary-imgFour {
    padding: 20px;
    display: inline-block;
    width: 100%;
    height: auto;
    
}

.Stationary-imgFive {
    padding: 20px;
    display: inline-block;
    width: 100%;
    height: auto;
    
}